body{
    background-color: rgb(135, 220, 192);
}
#d1{
    width: 70px;
    height: 70px;
    border: 30px ;
    background-color:rgb(55, 128, 0);
    margin-left: 520px;
}
#d2{
    width: 70px;
    height: 70px;
    border: 30px ;
    background-color:rgba(165, 42, 42, 0.584);
    margin-left: 590px;
    margin-top: -70px;
    margin-right: 10px;
}
#d3{
    width: 70px;
    height: 70px;
    border: 30px ;
    background-color:rgb(226, 160, 182);
    margin-left: 660px;
    margin-top: -70px;
}
#d4{
    width: 70px;
    height: 70px;
    border: 30px ;
    background-color:rgb(28, 179, 238);
    margin-left: 730px;
    margin-top: -70px;
}
#d5{
    width: 70px;
    height: 70px;
    border: 30px ;
    background-color:rgb(147, 165, 110);
    margin-left: 800px;
    margin-top: -70px;
    
}
#d6{
    width: 70px;
    height: 70px;
    border: 30px ;
    background-color:cornflowerblue;
    margin-left: 450px;
    margin-top: 10px;
}
#d7{
    width: 70px;
    height: 70px;
    border: 30px ;
    background-color:rgb(220, 148, 14);
    margin-left: 520px;
    margin-top: -70px;
}
#d8{
    width: 70px;
    height: 70px;
    border: 30px ;
    background-color:darkgreen;
    margin-left: 590px;
    margin-top: -70px;
}
#d9{
    width: 70px;
    height: 70px;
    border: 30px ;
    background-color:rgb(133, 123, 125);
    margin-left: 660px;
    margin-top: -70px;
}
#d10{
    width: 70px;
    height: 70px;
    border: 30px ;
    background-color:red;
    margin-top: -70px;
    margin-left: 730px;
}
#d11{
    width: 70px;
    height: 70px;
    border: 30px ;
    background-color:darkslateblue;
    margin-top: -70px;
    margin-left: 800px;
}
#d12{
    width: 70px;
    height: 70px;
    border: 30px ;
    background-color:brown;
    margin-top: -70px;
    margin-left: 870px;
}
#d13{
    width: 70px;
    height: 70px;
    border: 30px ;
    background-color:darkblue;
    margin-top: 10px;
    margin-left: 380px;
}
#d14{
    width: 70px;
    height: 70px;
    border: 30px ;
    background-color:rgb(207, 203, 203);
    margin-top: -70px;
    margin-left:450px ;
}
#d15{
    width: 70px;
    height: 70px;
    border: 30px ;
    background-color:rgb(97, 98, 98);
    margin-top: -70px;
    margin-left: 520px;
}
#d16{
    width: 70px;
    height: 70px;
    border: 30px ;
    background-color:coral;
    margin-top: -70px;
    margin-left: 590px;
}
#d17{
    width: 70px;
    height: 70px;
    border: 30px ;
    background-color:teal;
    margin-top: -70px;
    margin-left: 660px;
}
#d18{
    width: 70px;
    height: 70px;
    border: 30px ;
    background-color:rgb(170, 255, 0);
    margin-top: -70px;
    margin-left: 730px;
}
#d19{
    width: 70px;
    height: 70px;
    border: 30px ;
    background-color:rgb(236, 77, 236);
    margin-top: -70px;
    margin-left: 800px;
}
#d20{
    width: 70px;
    height: 70px;
    border: 30px ;
    background-color:rgb(0, 0, 163);
    margin-top: -70px;
    margin-left: 870px;
}
#d21{
    width: 70px;
    height: 70px;
    border: 30px ;
    background-color:rgb(118, 66, 29);
    margin-top: -70px;
    margin-left: 940px;
}









